{% extends "base.html" %}
{% block content %}
<div class="row g-4 justify-content-center">
    {% for guild in guilds %}
    <div class="col-md-4">
        <a href="/dashboard/{{ guild.id }}">
            <div class="card p-4 text-center">
                <img src="{{ guild.icon_url }}" class="guild-icon mx-auto mb-3">
                <h4 class="fw-bold text-white">{{ guild.name }}</h4>
                <button class="btn-albion w-100">GESTIONAR</button>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}